* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  width: 1440px;
  background-color: #e5e5e5;
}

.color-primary {
  color: #4e42d9;
}

.color-secondary {
  color: #797979;
}

.color-title {
  color: #3b3950;
}

.btn-primary {
  color: #ffffff;
  background-color: #4e42d9;
  border-radius: 4px;
}

.btn-secondary {
  color: #4e42d9;
  background-color: rgba(78, 66, 217, 0.18);
  border-radius: 4px;
}

.logo {
  float: left;
  font-size: 30px;
  font-weight: 600;
  padding: 32px 40px 37px 40px;
}

.nav {
  float: right;
}

.nav ul li {
  float: left;
  list-style-type: none;
  font-size: 16px;
  font-weight: 600;
  padding: 45px 48px 45px 0;
}

.nav ul li.active {
  color: #4e42d9;
}

.btn-contact {
  text-decoration: none;
  padding: 16px 30px;
}

.desc-container {
  position: absolute;
  width: 1200px;
  padding: 0 120px;
  top: 126px;
}

.desc {
  width: 600px;
  float: left;
}

.desc-title {
  width: 500px;
  margin-top: 58.5px;
}

.desc-body {
  width: 400px;
  font-size: 16px;
  margin-bottom: 48px;
}

.hero-image {
  width: 578px;
  height: 584px;
  float: right;
}

.btn-explore,
.btn-about {
  text-decoration: none;
  font-size: 16px;
  padding: 16px 30px;
  margin-right: 12px;
}

.what-we-do {
  position: absolute;
  top: 782px;
  left: 605px;
  font-size: 32px;
  font-weight: 600;
  color: #3b3950;
}

.service-container {
  position: absolute;
  width: 1200px;
  top: 879px;
  left: 120px;
}

.service {
  width: 285px;
  margin-right: 20px;
  float: left;
}

.service-icon {
  top: 0;
  padding: 0 97px;
  width: 91px;
  height: 90px;
}

.service-title {
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  margin: 24px 0 8px 0;
}

.service-desc {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.service-right {
  margin-right: 0;
}

.blog-container {
  position: absolute;
  width: 1440px;
  left: 0px;
  top: 1167px;
  background: #f8f8f8;
}

.blog-top {
  margin: 72px 441px 40px 440px;
  text-align: center;
}

.blog-container-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 8px;
}

.blog-container-subtitle {
  font-size: 16px;
  font-weight: 400;
  width: 100%;
}

.blog-card-container {
  width: 1200px;
  margin: 0 120px 71px 120px;
}

.blog-card {
  width: 386.67px;
  float: left;
  margin-right: 20px;
  margin-bottom: 71px;
}

.blog-card-right {
  margin-right: 0;
}

.blog-card-img {
  width: 387.67px;
}

.blog-date {
  font-weight: 500;
  font-size: 14px;
  margin: 12px 0;
}

.blog-card-body {
  width: 100%;
}

.blog-card-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 8px;
}

.blog-card-desc {
  font-weight: 400;
  font-size: 16px;
}

.blog-card-desc-mid,
.blog-card-desc-right {
  width: 305px;
}

.btn-view-all {
  display: block;
  width: fit-content;
  clear: both;
  text-decoration: none;
  margin: 0 658px 74px 657px;
  padding: 16px 30px;
  font-size: 16px;
  font-weight: 700;
}

.footer {
  position: absolute;
  width: 1440px;
  top: 2052px;
  background-color: #292838;
}

.footer-top {
  margin: 72px 118px;
}

.footer-top-left {
  width: 398px;
  float: left;
  margin-bottom: 141px;
}

.footer-top-right {
  margin-left: 214px;
  float: left;
}

.footer-title {
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 12px;
}

.footer-subtitle {
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}

.footer-shortcut {
  margin-right: 89px;
  float: left;
}

.shortcut-title {
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.footer-shortcut ul li {
  list-style-type: none;
}

.footer-shortcut ul li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}

.shortcut-right {
  margin-right: 0;
}

.footer-bottom {
  clear: both;
  text-align: center;
  background-color: #23222f;
  padding: 19px 0 17px 0;
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}
