.about-skilline {
  width: 100%;
}

.about-skilline__container {
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.about-skilline__text {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.about-skilline__title {
  font-size: 3.6rem;
  color: #2f327d;
  font-weight: 700;
}

.about-skilline__title span {
  color: #f48c06;
}

.about-skilline__description {
  font-size: 1.6rem;
  font-weight: 500;
  color: #696984;
}

.about-skilline__cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.about-skilline__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 40%;
  padding: 10rem 5rem;
  border-radius: 2rem;
  border: 1px solid #000000;
  background: rgba(23, 27, 65, 0.45);
  opacity: 0.8;
}

.card__instructors-bg {
  background-image: url("../icons-and-images/for-instructor-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card__students-bg {
  background-image: url("../icons-and-images/for-student-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-skilline__card-title {
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
}

.btn-transparent {
  display: block;
  color: white;
  text-transform: none;
  border: 1px solid white;
}

.btn-transparent:hover {
  background-color: rgba(35, 189, 238, 0.9);
  border-color: rgba(35, 189, 238, 0.9);
  transition: all 0.2 ease-in;
}

.btn-transparent::first-letter {
  text-transform: uppercase;
}
