.all-in-one {
  width: 100%;
}

.all-in-one__container {
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.all-in-one__text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.all-in-one__title {
  font-size: 3rem;
  color: #2f327d;
  font-weight: 700;
}

.all-in-one__title span {
  color: #f48c06;
}

.all-in-one__description {
  font-size: 1.6rem;
  font-weight: 400;
  color: #696984;
}

.all-in-one__cards {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.all-in-one__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  background: #ffffff;
  border-radius: 2rem;
  box-shadow: 0 1rem 5rem rgba(38, 45, 118, 0.08);
  padding: 4rem;
}

.all-in-one__card:hover {
  box-shadow: 0 0.5rem 5rem rgba(38, 45, 118, 0.2);
  transition: box-shadow 0.2s ease ease-in;
}

.card__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f327d;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  transform: translateY(-7rem);
}

.card__icon {
  width: 2.5rem;
}

.invoice-wrapper {
  background: #5b72ee;
  box-shadow: 0px 10px 40px rgba(54, 61, 136, 0.06);
}

.schedule-wrapper {
  background: #f48c06;
  box-shadow: 0px 16px 40px rgba(37, 44, 113, 0.1);
}

.users-wrapper {
  background: #29b9e7;
  box-shadow: 0px 10px 40px rgba(54, 61, 136, 0.06);
}

.card__title {
  color: #2f327d;
  font-size: 2rem;
  font-weight: 500;
  width: 90%;
}

.card__description {
  color: #696984;
  font-size: 1.2rem;
  width: 95%;
}
