body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header {
  height: 100px;
  padding: 0 200px;
  background-color: #f8f8f8;
}

.logo a {
  margin: 0;
  float: left;
  font-size: 25px;
  font-weight: bolder;
  padding: 32px 0;
  width: 100px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.nav {
  height: 100px;
  float: left;
}

.nav ul li {
  padding: 20px 0;
  float: left;
  list-style-type: none;
  margin: 0 10px;
}

.nav ul li a {
  height: 100%;
  float: none;
  text-decoration: none;
  font-size: 18px;
  color: #696969;
  text-transform: capitalize;
}

.nav ul li a:hover {
  color: #212f3d;
}

.header-search {
  float: right;
  padding: 26px 0;
}

.header-search form input {
  outline: none;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  height: 35px;
  width: 200px;
  background-color: transparent;
  font-size: 15px;
  padding: 5px 10px;
}

.header-search form button {
  outline: none;
  height: 43px;
  width: 100px;
  border: 1px solid #28a745;
  border-radius: 5px;
  color: #28a745;
  background-color: transparent;
  font-size: 15px;
  padding: 5px 10px;
}

.main {
  padding: 0 200px;
}

.main hr {
  background-color: #d3d3d3;
  border-color: #d3d3d3;
}

.btn-container {
  margin: 50px 0;
}

.table-primary,
.table-secondary {
  width: 750px;
  text-align: center;
  /* border: 1px solid black; */
}

.table-heading {
  text-align: left;
}

.table-primary td,
.table-secondary td {
  width: 150px;
  height: 100px;
  /* text-align: left; */
  color: #696969;
  /* border: 1px solid black; */
}

.btn {
  text-align: center;
  border-radius: 5px;
  padding: 20px 5px;
  font-size: 20px;
  font-weight: bold;
  /* border: 1px solid black; */
  width: 100px;
  cursor: pointer;
}

.btn-primary-default,
.btn-outline-hover {
  background-color: #7749f8;
  color: white;
}

.btn-primary-hover,
.btn-primary-focus {
  background-color: #5227cc;
  color: white;
}

.btn-outline-default {
  border: 2px solid #7749f8;
  color: #7749f8;
}

.btn-secondary-default,
.btn-sec-outline-hover {
  background-color: #566573;
  color: white;
}

.btn-secondary-hover,
.btn-secondary-focus {
  background-color: #212f3d;
  color: white;
}

.btn-sec-outline-default {
  border: 2px solid #566573;
  color: #566573;
}
