<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/index.css" />
    <title>Assignment 5 - Color</title>
  </head>
  <body>
    <!-- 
      ESTIMATED TIME TO CREATE AND DESIGN HEADER SECTION: 30 MIN
    -->
    <!-- header section -->
    <div class="wrapper-header">
      <header class="header">
        <div class="logo"><a href="./index.html">UI Kit</a></div>

        <!-- navigation bar -->
        <nav class="navBar">
          <ul>
            <li><a href="./index.html">color</a></li>
            <li><a href="./typography.html  ">typography</a></li>
            <li><a href="./buttons.html">buttons</a></li>
            <li><a href="./forms.html">forms</a></li>
            <li><a href="./list-group.html">list group</a></li>
            <li><a href="./tables.html">table</a></li>
            <li><a href="./cards.html">cards</a></li>
          </ul>
        </nav>

        <!-- search section -->
        <div class="search">
          <input
            type="text"
            name="search"
            id="search"
            class="input-search"
            placeholder="Search"
          />
          <button type="submit" class="btn-search">Search</button>
        </div>
      </header>
    </div>

    <!-- 
      ESTIMATED TIME TO CREATED COLOR PRIMARY SECTION: 15 MIN
    -->
    <div class="body-wrapper">
      <h1 class="title">Color</h1>
      <hr />

      <section class="section-primary">
        <h2>Primary Color</h2>

        <div class="color">
          <div id="color-primary"></div>
          <h4>Primary</h4>
          <p>#7749F8</p>
        </div>

        <div class="color">
          <div id="color-primary-dark"></div>
          <h4>Primary Dark</h4>
          <p>#5227CC</p>
        </div>

        <div class="color">
          <div id="color-primary-light"></div>
          <h4>Primary Light</h4>
          <p>#EBE5FC</p>
        </div>
      </section>
    </div>
  </body>
</html>
