<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/typography.css" />
    <title>Assignment 5 - Typography</title>
  </head>
  <body>
    <!-- Time estimation to create typography component: 20 min -->
    <!-- header section -->
    <div class="wrapper-header">
      <header class="header">
        <div class="logo"><a href="./index.html">UI Kit</a></div>

        <!-- navigation bar -->
        <nav class="navBar">
          <ul>
            <li><a href="./index.html">color</a></li>
            <li><a href="./typography.html">typography</a></li>
            <li><a href="./buttons.html">buttons</a></li>
            <li><a href="./forms.html">forms</a></li>
            <li><a href="./list-group.html">list group</a></li>
            <li><a href="./tables.html">table</a></li>
            <li><a href="./cards.html">cards</a></li>
          </ul>
        </nav>

        <!-- search section -->
        <div class="search">
          <input
            type="text"
            name="search"
            id="search"
            class="input-search"
            placeholder="Search"
          />
          <button type="submit" class="btn-search">Search</button>
        </div>
      </header>
    </div>

    <section class="body-wrapper">
      <div class="tabs-container">
        <h1 class="title">Tabs</h1>
        <hr />

        <div class="tabs-main">
          <div class="tabs">
            <div class="tab-home active">Home</div>
            <div class="tab-profile inactive">Profile</div>
            <div class="tab-contact inactive">Contact</div>
            <div class="tab-empty"></div>
          </div>
          <p class="tab-desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
            error cumque magnam nemo atque dicta ea maxime vero exercitationem
            fugit. Dolore explicabo eum totam voluptatem repellat dicta impedit
            corrupti ratione. Incidunt libero deserunt quos impedit animi, ea
            repellat dolor praesentium, voluptatem tempore labore rem commodi
            nostrum laborum fugiat minus explicabo illo laudantium optio neque
            vero modi sunt dicta? Molestiae, autem. Dignissimos totam,
            doloremque modi pariatur culpa ad optio! Quae, magnam. Nulla dolorem
            sed libero hic perspiciatis obcaecati voluptatem veniam, veritatis
            aperiam voluptatum voluptates tempore possimus id mollitia esse nisi
            sapiente? Nemo fuga veritatis, quaerat exercitationem eos suscipit
            excepturi praesentium voluptas perferendis culpa inventore
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
