<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../styles/header.css">
  <title>Design - Flex Assignment</title>
</head>

<body>
  <header class="header">
    <div class="container">
      <div class="nav-bar">
        <div class="logo">
          <a href="#">
            <img src="../icons-and-images/Polygon-logo.png" alt="logo polygon" class="logo__img">
            <div class="logo__title">skilline</div>
          </a>
        </div>

        <nav class="nav-list">
          <ul>
            <li><a href="#" class="nav-list__item">home</a></li>
            <li><a href="#" class="nav-list__item">careers</a></li>
            <li><a href="#" class="nav-list__item">blogs</a></li>
            <li><a href="#" class="nav-list__item">about us</a></li>
            <li><a href="#" class="btn btn--secondary">login</a></li>
            <li><a href="#" class="btn btn--primary">sign up</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="container">
      <div class="banner">
        <div class="banner__text">
          <h1 class="banner__title">
            <span>Studying</span> online is now much easier
          </h1>
          <p class="banner__description">
            Skilline is an interesting platform that will teach you in more an interactive way
          </p>

          <div class="banner__btns">
            <a href="#" class="btn btn--primary">Join for free</a>
            <a href="#" class="btn btn--secondary btn--filled"><img src="../icons-and-images/btn-play.png"
                alt="bnt-play" class="btn--play"></a>
            <p>Watch how it works</p>
          </div>
        </div>

        <div class="banner__right">
          <div class="banner__img-wrapper">
            <img src="../icons-and-images/lovely-teenage-girl-with-curly-hair-posing-yellow-tshirt.png"
              alt="a girl smiling">
          </div>

          <div class="icn-status-wrapper">
            <img src="../icons-and-images/icn-banner-right-top.png" alt="icn-status" class="icn-banner-right-top">
          </div>

          <div class="user-exp">
            <div class="user-exp__top">
              <div class="profile-pic">
                <div class="profile-pic__wrapper">
                  <img src="../icons-and-images/user-exp.png" alt="profile pic" class="user-pic">
                </div>
                <div class="user-status__wrapper">
                  <img src="../icons-and-images/user-exp-active.png" alt="user status" class="user-status">
                </div>
              </div>

              <div class="profile__text">
                <div class="profile__title">User Experience Class</div>
                <div class="profile__subtitle">Today at 12.00 PM</div>
              </div>
            </div>

            <div class="user-exp__button-wrapper">
              <a href="#" class="btn btn--purple">Join now</a>
            </div>
          </div>

          <div class="assisted-std-card">
            <div class="banner-icon-wrapper calendar-wrapper">
              <img src="../icons-and-images/calendar.png" alt="icon calendar" class="banner-card__calendar">
            </div>
            <div class="assisted-std-card__text">
              <div class="assisted-std-card__title">250k</div>
              <div class="assisted-std-card__subtitle">Assisted Student</div>
            </div>
          </div>

          <div class="notification-card">
            <div class="banner-icon-wrapper email-wrapper">
              <img src="../icons-and-images/email.png" alt="icon email" class="banner-card__email">
            </div>
            <div class="notification-card__text">
              <div class="notification-card__text-top">
                <div class="notification-card__title">Congratulations</div>
                <div class="green-tick-wrappper">
                  <img src="../icons-and-images/green-tick.png" alt="icon green-tick">
                </div>

              </div>
              <div class="notification-card__subtitle">Your admission completed</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </header>
</body>

</html>