* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100vw;
  height: 100vh;
}

.wrapper-header {
  max-width: 100%;
  background-color: #f8f8f8;
  overflow: hidden;
}

.header {
  width: 85%;
  margin: 0 auto;
}

.logo {
  float: left;
  margin: 3rem 5rem 3rem 0;
}

.logo a {
  text-decoration: none;
  font-size: 3rem;
  font-weight: 700;
  color: black;
}

.navBar {
  float: left;
  margin-top: 4rem;
}

.navBar ul li {
  list-style-type: none;
  float: left;
  margin-right: 2rem;
}

.navBar ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #696969;
  text-transform: capitalize;
}

.navBar ul li a:hover {
  color: #212f3d;
}

.search {
  float: right;
  margin-top: 2.5rem;
}

.input-search,
.btn-search {
  height: 4rem;
  font-size: 1.5rem;
}

.input-search {
  outline: none;
  border: 2px solid #d3d3d3;
  border-radius: 5px;
  background-color: white;
  padding-left: 0.5rem;
}

.btn-search {
  border: 2px solid #28a745;
  border-radius: 0.5rem;
  color: #28a745;
  background-color: transparent;
  padding: 0 1rem;
  cursor: pointer;
}

.body-wrapper {
  width: 85%;
  margin: 2rem auto;
}

.tables-container {
  width: 100%;
}

.title {
  font-size: 4rem;
}

hr {
  margin: 2rem 0;
  background-color: #696969;
  border: 1px solid #696969;
}

table {
  width: 100%;
  text-align: left;
  margin: 5rem 0 2rem 0;
  border: 1px solid transparent;
  border-collapse: collapse;
}

th,
td {
  font-size: 1.5rem;
  height: 5rem;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}

tbody tr:nth-of-type(odd) {
  background-color: #f8f8f8;
}

tr td:first-child {
  font-weight: bold;
}

.pagination {
  float: right;
  margin-top: 2rem;
}

.pagination ul li {
  float: left;
  list-style-type: none;
  margin-left: 1rem;
}

.pagination ul li a {
  font-size: 1.5rem;
  text-decoration: none;
  border: 1px solid #d3d3d3;
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;
  color: #7747f8;
}

.pagination ul li a.disabled {
  cursor: not-allowed;
  color: #696969;
}

.pagination ul li a.active {
  background-color: #7747f8;
  border-color: #7747f8;
  color: white;
}
