<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/buttons.css" />
    <title>UI Kit - Buttons</title>
  </head>
  <body>
    <!-- HEADER FOR NAVIGATION -->
    <header class="header">
      <div class="logo"><a href="./index.html">UI Kit</a></div>

      <nav class="nav">
        <ul>
          <li><a href="./index.html">color</a></li>
          <li><a href="./typography.html">typography</a></li>
          <li><a href="./buttons.html">buttons</a></li>
          <li><a href="./forms.html">forms</a></li>
          <li><a href="./list-group.html">list group</a></li>
          <li><a href="./table.html">table</a></li>
          <li><a href="./card.html">cards</a></li>
        </ul>
      </nav>

      <div class="header-search">
        <form action="" method="post">
          <input type="text" name="search" id="search" placeholder="Search" />
          <button type="submit">Search</button>
        </form>
      </div>
    </header>

    <!-- MAIN SECTION FOR CONTENT DISPLAY -->
    <main class="main">
      <h1>Buttons</h1>
      <hr />

      <!-- Primary Button Container -->
      <div class="btn-container">
        <h2>Primary Buttons</h2>
        <hr />

        <!-- Table for Primary Buttons Section -->
        <table class="table-primary">
          <tbody>
            <tr>
              <td></td>
              <td class="table-heading">default</td>
              <td class="table-heading">outline</td>
            </tr>
            <tr>
              <td>default</td>
              <td><div class="btn btn-primary-default">Primary</div></td>
              <td><div class="btn btn-outline-default">Outline</div></td>
            </tr>
            <tr>
              <td>hover</td>
              <td><div class="btn btn-primary-hover">Primary</div></td>
              <td><div class="btn btn-outline-hover">Outline</div></td>
            </tr>
            <tr>
              <td>focus</td>
              <td><div class="btn btn-primary-focus">Primary</div></td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Secondary Buttons Container -->
      <div class="btn-container">
        <h2>Secondary Buttons</h2>
        <hr />

        <!-- Table for Secondary Buttons Section -->
        <table class="table-secondary">
          <tbody>
            <tr>
              <td>default</td>
              <td><div class="btn btn-secondary-default">Secondary</div></td>
              <td><div class="btn btn-sec-outline-default">Outline</div></td>
            </tr>
            <tr>
              <td>hover</td>
              <td><div class="btn btn-secondary-hover">Secondary</div></td>
              <td><div class="btn btn-sec-outline-hover">Outline</div></td>
            </tr>
            <tr>
              <td>focus</td>
              <td><div class="btn btn-secondary-focus">Secondary</div></td>
            </tr>
          </tbody>
        </table>
      </div>

      </div>
    </main>
  </body>
</html>
