<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/color.css" />
    <title>UI Kit - Color</title>
  </head>
  <body>
    <!-- HEADER FOR NAVIGATION -->
    <header class="header">
      <div class="logo"><a href="./index.html">UI Kit</a></div>

      <nav class="nav">
        <ul>
          <li><a href="./index.html">color</a></li>
          <li><a href="./typography.html">typography</a></li>
          <li><a href="./buttons.html">buttons</a></li>
          <li><a href="./forms.html">forms</a></li>
          <li><a href="">list group</a></li>
          <li><a href="">tables</a></li>
          <li><a href="">cards</a></li>
        </ul>
      </nav>

      <div class="header-search">
        <form action="" method="post">
          <input type="text" name="search" id="search" placeholder="Search" />
          <button type="submit">Search</button>
        </form>
      </div>
    </header>

    <!-- MAIN SECTION FOR CONTENT DISPLAY -->
    <main class="main">
      <h1>Color</h1>
      <hr />

      <!-- Primary Color Section -->
      <section class="section-primary">
        <h2>Primary Color</h2>

        <div class="color">
          <div id="color-primary"></div>
          <h4>Primary</h4>
          <p>#7749F8</p>
        </div>

        <div class="color">
          <div id="color-primary-dark"></div>
          <h4>Primary Dark</h4>
          <p>#5227CC</p>
        </div>

        <div class="color">
          <div id="color-primary-light"></div>
          <h4>Primary Light</h4>
          <p>#EBE5FC</p>
        </div>
      </section>

      <!-- Secondary Color Section -->
      <section class="section-secondary">
        <h2>Secondary Color</h2>

        <div class="color">
          <div id="color-secondary"></div>
          <h4>Secondary</h4>
          <p>#566573</p>
        </div>

        <div class="color">
          <div id="color-secondary-dark"></div>
          <h4>Secondary Dark</h4>
          <p>#212f3d</p>
        </div>

        <div class="color">
          <div id="color-secondary-light"></div>
          <h4>Secondary Light</h4>
          <p>#abb2b9</p>
        </div>
      </section>

      <!-- Status Color Section -->
      <section class="section-status">
        <h2>Status Color</h2>

        <div class="color">
          <div id="color-success"></div>
          <h4>Success</h4>
          <p>#28a745</p>
        </div>

        <div class="color">
          <div id="color-danger"></div>
          <h4>Danger</h4>
          <p>#dc3545</p>
        </div>

        <div class="color">
          <div id="color-warning"></div>
          <h4>Warning</h4>
          <p>#ffc107</p>
        </div>

        <div class="color">
          <div id="color-info"></div>
          <h4>Info</h4>
          <p>#17a2b8</p>
        </div>
      </section>

      <!-- Gray Color Section -->
      <section class="section-gray">
        <h2>Gray Color</h2>

        <div class="color">
          <div id="color-gray-600"></div>
          <h4>Gray - 600</h4>
          <p>#6c757d</p>
        </div>

        <div class="color">
          <div id="color-gray-700"></div>
          <h4>Gray - 700</h4>
          <p>#495057</p>
        </div>

        <div class="color">
          <div id="color-gray-800"></div>
          <h4>Gray - 800</h4>
          <p>#343a40</p>
        </div>

        <div class="color">
          <div id="color-gray-900"></div>
          <h4>Gray - 900</h4>
          <p>#212529</p>
        </div>
      </section>
    </main>
  </body>
</html>
