<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/table.css" />
    <title>UI Kit - Table</title>
  </head>
  <body>
    <!-- HEADER FOR NAVIGATION -->
    <header class="header">
      <div class="logo"><a href="./index.html">UI Kit</a></div>

      <nav class="nav">
        <ul>
          <li><a href="./index.html">color</a></li>
          <li><a href="./typography.html">typography</a></li>
          <li><a href="./buttons.html">buttons</a></li>
          <li><a href="./forms.html">forms</a></li>
          <li><a href="./list-group.html">list group</a></li>
          <li><a href="./table.html">table</a></li>
          <li><a href="./card.html">cards</a></li>
        </ul>
      </nav>

      <div class="header-search">
        <form action="" method="post">
          <input type="text" name="search" id="search" placeholder="Search" />
          <button type="submit">Search</button>
        </form>
      </div>
    </header>

    <!-- MAIN SECTION FOR CONTENT DISPLAY -->
    <main class="main">
      <h1>Tables</h1>
      <hr />

      <!-- Table section -->
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>First</th>
            <th>Last</th>
            <th>Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>

          <tr>
            <td>2</td>
            <td>Jacob</td>
            <td>Thronton</td>
            <td>@fat</td>
          </tr>

          <tr>
            <td>3</td>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>

      <!-- Pagination section -->
      <div class="pagination">
        <ul>
          <li><a href="#" class="disabled">Prev</a></li>
          <li><a href="#" class="active">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">Next</a></li>
        </ul>
      </div>
    </main>
  </body>
</html>
