* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.header {
  width: 100%;
}

.header__top {
  width: 100%;
  background-color: #252b42;
}

@media screen and (min-width: 1024px) {
  .header__top {
    background-color: transparent;
    background-image: url("../images-and-icons/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
  }
}

.logo-wrapper {
  float: left;
  padding-top: 3.6rem;
}

.header__logo {
  font-size: 2.4rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.wrapper__toggle {
  float: right;
  padding-top: 4rem;
}

.icn__toggle {
  cursor: pointer;
}

.nav {
  width: 100%;
  display: none;
  padding-top: 3rem;
}

.nav.active {
  display: block;
}

.nav ul li {
  list-style-type: none;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1.4rem;
}

.nav ul li a:hover,
.nav ul li a:active {
  color: #ffa62b;
  transition: color 0.2s ease-in;
}

.header__icons {
  width: 100%;
  margin-top: 2rem;
}

.search-wrapper,
.cart-wrapper {
  width: fit-content;
  margin: 1rem auto;
}

.btn__search,
.btn__cart {
  width: 2rem;
}

/* responsive navigation for device with min-width 1024px */
@media screen and (min-width: 1024px) {
  .wrapper__toggle {
    display: none;
  }

  .nav {
    display: block;
    float: right;
    width: 38rem;
    padding-top: 4.5rem;
  }

  .nav ul li {
    float: left;
    margin-right: 2rem;
  }

  .header__icons {
    width: fit-content;
    float: right;
    margin: 0;
  }

  .search-wrapper,
  .cart-wrapper {
    margin: auto;
    float: left;
  }

  .search-wrapper {
    margin-right: 2rem;
  }
}

.banner__main {
  width: 100%;
  padding: 10rem 0;
}

.banner__title {
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .banner__title {
    width: 60%;
  }
}

@media screen and (min-width: 1024px) {
  .banner__main {
    padding-bottom: 15rem;
  }

  .banner__title {
    width: 60%;
  }
}

@media screen and (min-width: 1440px) {
  .banner__main {
    padding-bottom: 20rem;
  }
}

.banner__title h1 {
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  color: white;
}

@media screen and (min-width: 1024px) {
  .banner__title h1 {
    font-size: 4rem;
  }
}

.banner__text {
  width: 60%;
  margin: 0 auto;
  padding: 4rem 0;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  color: white;
}

@media screen and (min-width: 768px) {
  .banner__text {
    width: 70%;
  }
}

@media screen and (min-width: 1024px) {
  .banner__text {
    width: 50%;
  }
}

@media screen and (min-width: 1440px) {
  .banner__title h1 {
    font-size: 5rem;
  }

  .banner__text p {
    font-size: 2rem;
  }
}

.banner__btns {
  width: 50%;
  margin: 0 auto;
}

.btn {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 1.2rem 3.6rem;
  border-radius: 3rem;
  display: block;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.btn--primary {
  background-color: #ffa62b;
  border: 0.1rem solid #ffa62b;
  margin-bottom: 1.5rem;
}

.btn--primary:hover {
  background-color: #f19615;
  border-color: #f19615;
  transition: background-color 0.2s ease-in;
}

.btn--secondary {
  border: 0.1rem solid white;
}

.btn--secondary:hover {
  background-color: #ffa62b;
  border-color: transparent;
  transition: background-color 0.2s ease-in;
}

@media screen and (min-width: 1024px) {
  .banner__btns {
    width: 36rem;
  }

  .btns {
    margin: auto;
  }

  .btn--primary {
    float: left;
    margin-right: 1rem;
    margin-bottom: 0;
  }

  .btn--secondary {
    float: right;
  }
}

.header__bottom {
  width: 100%;
  background-color: #252b42;
}

.header__infos {
  width: 100%;
  background-color: white;
}

.infos__left {
  width: 100%;
}

.infos__right {
  width: 100%;
}

.header__info {
  width: calc(100% / 2);
  float: left;
}

@media screen and (min-width: 1024px) {
  .header__infos {
    transform: translateY(-6rem);
  }

  .infos__left {
    width: 50%;
    float: left;
  }

  .infos__right {
    width: 50%;
    float: right;
  }
}

.info__main {
  margin: 2rem;
}

.wrapper-icon {
  width: fit-content;
  margin: 0 auto;
}

.info__count,
.info__title {
  display: block;
  text-align: center;
}

.info__count {
  font-weight: 700;
  font-size: 2.4rem;
  margin-bottom: 0.5rem;
}

.info__title {
  font-weight: 600;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #737373;
}

.cards-section {
  width: 100%;
  background-color: #252b42;
  padding: 5rem 0;
}

.cards__left {
  width: 100%;
}

.cards__right {
  width: 100%;
}

.card {
  background-color: white;
  width: 80%;
  margin: 0 auto 3rem auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .cards__left {
    margin-bottom: 5rem;
  }

  .card {
    width: 45%;
    margin: 0 auto;
  }

  .left__first,
  .right__first {
    float: left;
  }

  .left__last,
  .right__last {
    float: right;
  }
}

.card--hover:hover {
  background-color: #00a0c1;
  transition: background-color 0.2s ease-in;
}

.card--hover:hover div {
  color: white;
}

.card--hover:hover a {
  background-color: white;
}

.card__main {
  width: 70%;
  margin: 0 auto;
  padding: 2rem 0;
}

@media screen and (min-width: 1024px) {
  .cards__left {
    width: 48%;
    float: left;
    margin: 0;
  }

  .cards__right {
    width: 48%;
    float: right;
  }

  .card {
    width: 46%;
    height: fit-content;
  }

  .card__main {
    width: 80%;
  }
}

.card--last {
  margin-bottom: 0;
}

.wrapper-card-icon {
  width: fit-content;
  margin: 0 auto;
}

.card__title {
  font-weight: 700;
  font-size: 1.6rem;
  padding: 2rem 0;
  color: #252b42;
  text-transform: capitalize;
  text-align: center;
}

.card__text {
  font-weight: 700;
  font-size: 1.4rem;
  color: #737373;
  padding-bottom: 2rem;
}

.card__btn {
  display: block;
  border: 0.1rem solid #00a0c1;
  color: #00a0c1;
  width: fit-content;
  margin: 0 auto;
}

.icn-arrow {
  padding-left: 0.5rem;
}

/* section-3 styles */
.section-3 {
  width: 100%;
  background-color: #252b42;
}

.section-3__container {
  padding: 5rem 0;
}

.section-3__top {
  width: 70%;
  margin: 0 auto;
}

.section-3__title {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  font-weight: 700;
  font-size: 2.5rem;
  color: white;
}

.section-3__text {
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  color: white;
  padding: 2rem 0 5rem 0;
}

@media screen and (min-width: 1440px) {
  .section-3__title {
    width: 90%;
    font-size: 4rem;
  }

  .section-3__text {
    font-size: 1.6rem;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10rem;
  }
}

.section-3__bottom {
  width: 90%;
  margin: 0 auto;
}

.video-container {
  position: relative;
  width: 100%;
}

.video {
  width: 100%;
}

.play-img {
  width: 100%;
  height: auto;
}

.wrapper-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-play {
  display: inline-block;
  padding: 3rem;
  background-color: #00a0c1;
  position: relative;
  border-radius: 50%;
}

.btn-play:hover {
  background-color: #016c81;
  transition: background-color 0.2s ease-in;
}

.btn-play img {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: fit-content;
  margin: 0 auto;
}

.section-3__bottom-right {
  width: 100%;
  padding: 2rem 0;
  color: white;
}
@media screen and (min-width: 768px) {
  .video-container {
    width: 70%;
    margin: 0 auto;
  }

  .play-img {
    width: 100%;
  }

  .section-3__bottom-right {
    width: 70%;
    margin: 0 auto;
  }
}

.section-3__bottom-head {
  width: 100%;
  padding: 2rem 0 3rem 0;
}

@media screen and (min-width: 1024px) {
  .section-3__top {
    width: 50%;
  }

  .video-container {
    width: 50%;
    float: left;
  }

  .section-3__bottom-right {
    width: 45%;
    margin: 0;
    float: right;
    padding: 0;
  }

  .section-3__bottom-head {
    padding-top: 1rem;
  }
}

.section-3__bottom-title {
  font-size: 2.5rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

.section-3__bottom-text {
  font-size: 1rem;
  font-weight: 500;
}

@media screen and (min-width: 1440px) {
  .section-3__bottom-title {
    font-size: 3.6rem;
  }

  .section-3__bottom-text {
    font-size: 1.6rem;
  }
}

.section-3__list-container {
  width: 100%;
}

.section-3__bottom-list {
  width: 100%;
  padding-top: 2rem;
}

.icon-wrapper {
  float: left;
  margin-right: 2rem;
}

.list__title {
  font-size: 1.6rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

.list__desc {
  font-size: 1rem;
  font-weight: 600;
}

/* section: What Clients Say */
.client {
  width: 100%;
  background-color: #16697a;
}

.client__container {
  padding: 8rem 0;
}

.client__top {
  width: 50%;
  margin: 0 auto;
  color: white;
  text-align: center;
}

.client__title {
  font-size: 2.5rem;
  font-weight: 700;
  padding-bottom: 2rem;
}

.client__text {
  font-size: 1.2rem;
  font-weight: 500;
}

@media screen and (min-width: 1440px) {
  .client__title {
    font-size: 4rem;
  }

  .client__text {
    font-size: 1.6rem;
    width: 80%;
    margin: 0 auto;
  }
}

/* client: bottom section */
/* .client__bottom {
  width: 100%;
  background-color: #16697a;
}

.client__cards {
  width: 100%;
  padding: 5rem 0;
  position: relative;
  overflow: hidden;
}

.client__card {
  position: absolute;

} */

/* section: Meet Our Team */

.team {
  width: 100%;
  background-color: #252b42;
}

.team__container {
  padding: 5rem 0 3rem 0;
}

.team__top {
  width: 50%;
  margin: 0 auto;
  color: white;
  text-align: center;
}

.team__title {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: capitalize;
  padding-bottom: 1rem;
}

.team__text {
  font-size: 1rem;
  font-weight: 500;
}

@media screen and (min-width: 1440px) {
  .team__title {
    font-size: 4rem;
    padding-bottom: 2rem;
  }

  .team__text {
    font-size: 1.6rem;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5rem;
  }
}

.card__img {
  width: 50%;
}

.team__position {
  color: #ffa62b;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1rem 0 1.5rem 0;
}

.team-card__title {
  font-size: 1.6rem;
  font-weight: 700;
  color: #252b42;
}

.team-card__text {
  font-size: 1.2rem;
  font-weight: 500;
  color: #737373;
  padding: 0.8rem 0 1rem 0;
}

/* section : Branch All Over World */
.branch {
  width: 100%;
  background: linear-gradient(to bottom, #252b42 70%, #ffffff 30%);
}

.branch__container {
  padding: 5rem 0;
}

.branch__top {
  width: 100%;
  padding-bottom: 5rem;
}

.branch__text {
  width: 50%;
  margin: 0 auto;
  color: white;
  text-align: center;
  padding-bottom: 5rem;
}

.branch__title {
  font-size: 2.5rem;
  font-weight: 700;
  padding-bottom: 2rem;
}

.branch__desc {
  font-size: 1.2rem;
  font-weight: 500;
}

@media screen and (min-width: 1440px) {
  .branch__title {
    font-size: 4rem;
  }

  .branch__desc {
    font-size: 1.6rem;
    width: 80%;
    margin: 0 auto;
  }
}

.map-wrapper {
  width: 50%;
  margin: 0 auto;
}

.world-map {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .branch__top {
    padding: 8rem 0;
  }
  .branch__text {
    width: 45%;
    float: left;
    text-align: left;
    padding-bottom: 2rem;
  }

  .branch__desc {
    margin: 0;
  }

  .map-wrapper {
    width: 45%;
    float: right;
  }
}

/* branch: form section */
.branch__bottom {
  width: 100%;
}

.branch__img-wrapper {
  display: none;
}

.form-container {
  width: 90%;
  margin: 0 auto;
  padding: 5rem 3rem;
  background-color: white;
}

@media screen and (min-width: 768px) {
  .form-container {
    width: 70%;
  }
}

@media screen and (min-width: 1024px) {
  .branch__bottom {
    width: 80%;
    margin: 0 auto;
  }

  .branch__img-wrapper {
    display: block;
    width: 40%;
    float: left;
  }

  .branch__bottom-img {
    width: 100%;
    height: auto;
  }

  .form-container {
    width: 60%;
    float: right;
  }
}

.form-container__title {
  font-weight: 700;
  font-size: 2.5rem;
  color: #252b42;
  margin-bottom: 1.5rem;
}

.form {
  width: 100%;
}

.form__input-container {
  width: 100%;
  padding-bottom: 1rem;
}

.form__input-container label {
  display: block;
  font-weight: 600;
  font-size: 1.4rem;
  color: #252b42;
  padding-bottom: 0.5rem;
}

.form__input {
  display: block;
  outline: none;
  background: #f9f9f9;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  width: 100%;
  height: 5rem;
  padding: 1rem 1rem 1rem 2rem;
}

.btn-wrapper {
  width: 100%;
  padding-top: 2rem;
}

.btn--submit {
  display: block;
  text-decoration: none;
  border-radius: 0.5rem;
  width: 100%;
  text-align: center;
  background-color: #ffa62b;
  padding: 2rem 0;
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
}

.btn--submit:hover {
  background-color: #f19615;
  transition: background-color 0.2s ease-in;
}

/* footer */
/* footer top */
.footer {
  width: 100%;
}

.footer__top {
  width: 100%;
  background-color: #252b42;
  color: white;
  padding: 5rem 0;
}

.footer__top-title {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 700;
}

.footer__top-desc {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 3rem 0;
}

.footer__icon {
  width: fit-content;
  float: left;
  margin-right: 2rem;
}

.footer__icon a img {
  width: 2.5rem;
}

.footer__shortcuts {
  width: fit-content;
  padding-top: 4rem;
}

.shortcut-wrapper {
  width: 100%;
}

.footer__shortcut {
  float: left;
  padding-bottom: 3rem;
  margin-right: 5rem;
}

.footer__shortcut:last-child {
  padding-bottom: 0;
  margin-right: 0;
}

.shortcut__title {
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
  padding-bottom: 1rem;
}

.shortcut__item {
  list-style-type: none;
  padding-bottom: 1rem;
}

.shortcut__item:last-child {
  padding-bottom: 0;
}

.shortcut__item a {
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.shortcut__item a:hover {
  color: #ffa62b;
}

.footer__bottom {
  width: 100%;
  background-color: #384163;
  padding: 2rem 0;
}

.bottom__text {
  color: #bdbdbd;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

/* footer responsive for 640px */
@media screen and (min-width: 640px) {
  .get-in-touch {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
  }

  .footer__icons {
    width: fit-content;
    margin: 0 auto;
  }

  .footer__shortcuts {
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .footer__top {
    padding-top: 8rem;
  }

  .get-in-touch {
    display: inline-block;
    margin: 0;
    text-align: left;
    width: 30%;
  }

  .footer__top-desc {
    width: 80%;
  }

  .footer__icons {
    margin: 0;
  }

  .footer__shortcuts {
    float: right;
    padding: 0;
  }
}
