<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet" />

  <link rel="stylesheet" href="../styles/style.css" />
  <title>Design - Final Assignment</title>
</head>

<body>
  <!-- header section -->
  <header class="header">
    <!-- header top section contains navigation bar and banner section -->
    <div class="header__top">
      <!-- container that wraps navigation bar -->
      <div class="container clearfix">
        <div class="logo-wrapper">
          <a href="./index.html" class="header__logo">Nasscorp</a>
        </div>
        <!-- toggle navigation button for mobile view -->
        <div class="wrapper__toggle">
          <img src="../images-and-icons/navbar-toggler-icon.svg" alt="icon menu toggle" class="icn__toggle" />
        </div>

        <!-- navigation section -->
        <nav class="nav clearfix">
          <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="#">Product</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Contact</a></li>
          </ul>

          <!-- search and cart icons -->
          <div class="header__icons clearfix">
            <!-- search icon -->
            <div class="search-wrapper">
              <a href="#" class="search__link">
                <img src="../images-and-icons/icn search .icn-xs.svg" alt="btn__search" class="btn__search" />
              </a>
            </div>
            <!-- cart icon -->
            <div class="cart-wrapper">
              <a href="#" class="cart__link">
                <img src="../images-and-icons/icn shopping-cart .icn-xs.png" alt="btn__cart" class="btn__cart" />
              </a>
            </div>
          </div>
        </nav>
      </div>

      <!-- banner section -->
      <div class="container">
        <div class="banner__main">
          <div class="banner__title">
            <h1>Drive More Customers Through Digital</h1>
          </div>
          <div class="banner__text">
            <p>
              We know how large objects will act, but things on a small scale
              just do not act that way.
            </p>
          </div>
          <!-- banner buttons -->
          <div class="banner__btns clearfix">
            <a href="#" class="btn btn--primary">Get Quote Now</a>
            <a href="" class="btn btn--secondary">Learn More</a>
          </div>
        </div>
      </div>
    </div>

    <!-- header bottom section -->
    <div class="header__bottom">
      <div class="container">
        <!-- header info section after the banner section -->
        <div class="header__infos clearfix">
          <!-- info section left for desktop view or top for mobile and tab view -->
          <div class="infos__left clearfix">
            <!-- first info left/top -->
            <div class="header__info">
              <div class="info__main">
                <div class="wrapper-icon">
                  <img src="../images-and-icons/icn-happy-customer.svg" alt="happy customers" class="info__img" />
                </div>
                <div class="info__text">
                  <span class="info__count">1.5K</span>
                  <span class="info__title">happy coustomers</span>
                </div>
              </div>
            </div>

            <!-- second info left/top -->
            <div class="header__info">
              <div class="info__main">
                <div class="wrapper-icon">
                  <img src="../images-and-icons/icn-case-done.svg" alt="cases done" class="info__img" />
                </div>
                <div class="info__text">
                  <span class="info__count">3K</span>
                  <span class="info__title">cases done</span>
                </div>
              </div>
            </div>
          </div>

          <!-- info section right for desktop view or top for mobile and tab view -->
          <div class="infos__right clearfix">
            <!-- first info right/bottom -->
            <div class="header__info">
              <div class="info__main">
                <div class="wrapper-icon">
                  <img src="../images-and-icons/icn-award-winning.svg" alt="award winning" class="info__img" />
                </div>
                <div class="info__text">
                  <span class="info__count">45</span>
                  <span class="info__title">award winning</span>
                </div>
              </div>
            </div>

            <!-- second info right/bottom -->
            <div class="header__info">
              <div class="info__main">
                <div class="wrapper-icon">
                  <img src="../images-and-icons/icn-countries-worldwid.svg" alt="countries worldwide"
                    class="info__img" />
                </div>
                <div class="info__text">
                  <span class="info__count">12</span>
                  <span class="info__title">countries worldwide</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- cards section -->
  <div class="cards-section">
    <div class="container">
      <!-- cards main container -->
      <div class="cards__main clearfix">
        <div class="cards__left clearfix">
          <!-- first card left/top -->
          <div class="card card--hover left__first">
            <div class="card__main">
              <div class="wrapper-card-icon">
                <img src="../images-and-icons/icn-business-growing.svg" alt="business growing" class="card__icn" />
              </div>
              <div class="card__title">business growing</div>
              <div class="card__text">
                the quick brown for jumps over the lazy dog
              </div>
              <a href="#" class="btn card__btn">
                <span>More</span>
                <img src="../images-and-icons/icn-arrow.svg" alt="icn-arrow" class="icn-arrow" />
              </a>
            </div>
          </div>

          <!-- second card left/top -->
          <div class="card card--hover left__last">
            <div class="card__main">
              <div class="wrapper-card-icon">
                <img src="../images-and-icons/icn-digital-marketting.svg" alt="digital marketting" class="card__icn" />
              </div>
              <div class="card__title">digital marketting</div>
              <div class="card__text">
                the quick brown for jumps over the lazy dog
              </div>
              <a href="#" class="btn card__btn">
                <span>More</span>
                <img src="../images-and-icons/icn-arrow.svg" alt="icn-arrow" class="icn-arrow" />
              </a>
            </div>
          </div>
        </div>

        <!-- cards right/bottom -->
        <div class="cards__right clearfix"">
            <!-- first card right/bottom -->
          <div class=" card card--hover right__first">
          <div class="card__main">
            <div class="wrapper-card-icon">
              <img src="../images-and-icons/icn-business-growing.svg" alt="top firms" class="card__icn" />
            </div>
            <div class="card__title">national top 50 firms</div>
            <div class="card__text">
              the quick brown for jumps over the lazy dog
            </div>
            <a href="#" class="btn card__btn">
              <span>More</span>
              <img src="../images-and-icons/icn-arrow.svg" alt="icn-arrow" class="icn-arrow" />
            </a>
          </div>
        </div>

        <!-- second card right/bottom -->
        <div class="card  card--hover card--last right__last">
          <div class="card__main">
            <div class="wrapper-card-icon">
              <img src="../images-and-icons/icn-digital-marketting-hover.svg" alt="digital marketting"
                class="card__icn" />
            </div>
            <div class="card__title">digital marketting</div>
            <div class="card__text">
              the quick brown for jumps over the lazy dog
            </div>
            <a href="#" class="btn card__btn">
              <span>More</span>
              <img src="../images-and-icons/icn-arrow.svg" alt="icn-arrow" class="icn-arrow" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- third section: we are providing ...... -->
  <section class="section-3 clearfix">
    <div class="container section-3__container">
      <!-- section top -->
      <div class="section-3__top">
        <h1 class="section-3__title">
          We are providing best business service.
        </h1>

        <p class="section-3__text">
          Problems trying to resolve the conflict between the two major realms
          of Classical physics: Newtonian mechanics
        </p>
      </div>

      <!-- section bottom -->
      <div class="section-3__bottom clearfix">
        <!-- video container -->
        <div class="video-container">
          <div class="video">
            <img src="../images-and-icons/media-bg-cover.png" alt="media bg img" class="play-img">
          </div>

          <div class="wrapper-btn">

            <a href="#" class="btn-play"><img src="../images-and-icons/icn-play-btn.svg" alt="play btn"></a>
          </div>
        </div>

        <!-- section bottom right -->
        <div class="section-3__bottom-right">
          <div class="section-3__bottom-head">
            <h2 class="section-3__bottom-title">Most trusted in
              our field</h2>
            <p class="section-3__bottom-text">Most calendars are designed for teams. Slate
              is designed for freelancers who want a
              simple way to plan their schedule.</p>

          </div>

          <!-- section 3 right/bottom list contaienr -->
          <div class="section-3__list-container">

            <div class="section-3__bottom-list">
              <div class="icon-wrapper">
                <img src="../images-and-icons/icn-people.svg" alt="icon poeple">
              </div>
              <div class="list__text">
                <p class="list__title">the quick fox jumps over the lazy
                  dog</p>
                <p class="list__desc">Things on a very small scale ...</p>
              </div>
            </div>

            <div class="section-3__bottom-list">
              <div class="icon-wrapper">
                <img src="../images-and-icons/icn-gauge.svg" alt="icon gauge">
              </div>
              <div class="list__text">
                <p class="list__title">the quick fox jumps over the lazy
                  dog</p>
                <p class="list__desc">Things on a very small scale ...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>

  <!-- section: What Clients Say -->
  <section class="client">
    <div class="container client__container">
      <div class="client__top">
        <h1 class="client__title">
          What Clients Say
        </h1>
        <p class="client__text">
          Problems trying to resolve the conflict between
          the two major realms of Classical physics: Newtonian mechanics
        </p>
      </div>

    </div>

    <!-- client botton section : card section -->
    <!-- <div class="client__bottom"> -->
    <!-- cards container -->
    <!-- <div class="client__cards"> -->
    <!-- client-1 card -->
    <!-- <div class="client__card client__card-1">
          <img src="../images-and-icons/client-1.png" alt="client img" class="client__img">

          <div class="client__card-main">
            <div class="client__name">Regina Miles</div>
            <div class="client__post">Designer</div>
            <img src="../images-and-icons/stars.png" alt="ratings" class="stars">
            <p class="client__description">
              This proved to be impossible using the traditional
              concepts of space and time. Einstein developed a
              new view of time first and then space. This proved
              to be impossible using the traditional concepts of
              space and time. Einstein developed a new view
              of time first and then space.
            </p>
          </div>
        </div> -->

    <!-- client-2 card -->
    <!-- <div class="client__card client__card-2">
          <img src="../images-and-icons/client-1.png" alt="client img" class="client__img">

          <div class="client__card-main">
            <div class="client__name">Regina Miles</div>
            <div class="client__post">Designer</div>
            <img src="../images-and-icons/stars.png" alt="ratings" class="stars">
            <p class="client__description">
              This proved to be impossible using the traditional
              concepts of space and time. Einstein developed a
              new view of time first and then space. This proved
              to be impossible using the traditional concepts of
              space and time. Einstein developed a new view
              of time first and then space.
            </p>
          </div>
        </div> -->

    <!-- client-3 card -->
    <!-- <div class="client__card client__card-3">
          <img src="../images-and-icons/client-2.png" alt="client img" class="client__img">

          <div class="client__card-main">
            <div class="client__name">Regina Miles</div>
            <div class="client__post">Designer</div>
            <img src="../images-and-icons/stars.png" alt="ratings" class="stars">
            <p class="client__description">
              This proved to be impossible using the traditional
              concepts of space and time. Einstein developed a
              new view of time first and then space. This proved
              to be impossible using the traditional concepts of
              space and time. Einstein developed a new view
              of time first and then space.
            </p>
          </div>
        </div>
      </div>
    </div> -->
  </section>


  <!-- section: Meet Our Team -->
  <section class="team">
    <div class="container team__container">
      <div class="team__top">
        <h1 class="team__title">meet our team</h1>
        <p class="team__text">Problems trying to resolve the conflict between
          the two major realms of Classical physics: Newtonian mechanics
        </p>
      </div>


      <!-- cards main container -->
      <div class="cards__main team__container clearfix">
        <div class="cards__left clearfix">
          <!-- first card left/top -->
          <div class="card left__first">
            <div class="card__main">
              <div class="wrapper-card-icon">
                <img src="../images-and-icons/team-1.png" alt="Rodney Stratton" class="card__img" />
              </div>
              <div class="team__position">Consultant</div>
              <div class="team-card__title">Rodney Stratton</div>
              <div class="team-card__text">
                the quick brown for jumps over the lazy dog
              </div>
            </div>
          </div>

          <!-- second card left/top -->
          <div class="card left__last">
            <div class="card__main">
              <div class="wrapper-card-icon">
                <img src="../images-and-icons/team-2.png" alt="Ben Jonson" class="card__img" />
              </div>
              <div class="team__position">Consultant</div>
              <div class="team-card__title">Ben Jonson</div>
              <div class="team-card__text">
                the quick brown for jumps over the lazy dog
              </div>
            </div>
          </div>
        </div>

        <!-- cards right/bottom -->
        <div class="cards__right clearfix"">
            <!-- first card right/bottom -->
            <div class=" card right__first">
          <div class="card__main">
            <div class="wrapper-card-icon">
              <img src="../images-and-icons/team-3.png" alt="Rodney Stratton" class="card__img" />
            </div>
            <div class="team__position">Consultant</div>
            <div class="team-card__title">Rodney Stratton</div>
            <div class="team-card__text">
              the quick brown for jumps over the lazy dog
            </div>
          </div>
        </div>

        <!-- second card right/bottom -->
        <div class="card card--last right__last">
          <div class="card__main">
            <div class="wrapper-card-icon">
              <img src="../images-and-icons/team-4.png" alt="Avie Beaton" class="card__img" />
            </div>
            <div class="team__position">Co-Founder</div>
            <div class="team-card__title">Avie Beaton</div>
            <div class="team-card__text">
              the quick brown for jumps over the lazy dog
            </div>
          </div>
        </div>
      </div>

    </div>
    </div>
  </section>

  <!-- section: Branch All Over Wolrd -->
  <section class="branch">
    <div class="container branch__container">
      <!-- branch: top section -->
      <div class="branch__top clearfix">
        <div class="branch__text">
          <h1 class="branch__title">We Have Branches All
            Over The World
          </h1>
          <p class="branch__desc">
            The gradual accumulation of information about atomic and
            small-scale behaviour during the first quarter of the 20th
            century, which gave some indications about how small things
            do behave, produced an increasing confusion which was
            Heisenberg, and Born.
          </p>
        </div>

        <!-- world map -->
        <div class="map-wrapper">
          <img src="../images-and-icons/world-map.png" alt="world map" class="world-map">
        </div>
      </div>

      <!-- form section -->
      <div class="branch__bottom clearfix">
        <div class="branch__img-wrapper">
          <img src="../images-and-icons/form-image.png" alt="girls looking into laptop" class="branch__bottom-img">
        </div>

        <!-- form component -->
        <div class="form-container">
          <h2 class="form-container__title">
            Get A Free Quote Here
          </h2>

          <!-- form section -->
          <form action="#" class="form" method="post">
            <!-- name -->
            <div class="form__input-container">
              <label for="name">Name*</label>
              <input type="text" name="name" id="name" class="form__input" placeholder="Full Name" required>
            </div>

            <!-- email -->
            <div class="form__input-container">
              <label for="email">Email*</label>
              <input type="email" name="email" id="email" class="form__input" placeholder="example@gmail.com" required>
            </div>

            <!-- department select -->
            <div class="form__input-container">
              <label for="department">Department*</label>
              <select name="department" id="department" class="form__input" required>
                <option value="">Please Select</option>
                <option value="HR department">HR department</option>
                <option value="development">Development</option>
                <option value="administration">Administration</option>
              </select>
            </div>

            <!-- time select -->
            <div class="form__input-container">
              <label for="time">Time*</label>
              <select name="time" id="time" class="form__input" required>
                <option value="">4:00 Available</option>
                <option value="3 pm">3 PM</option>
                <option value="9 am">9 AM</option>
                <option value="6 pm">6 PM</option>
              </select>
            </div>
          </form>

          <!-- submit button -->
          <div class="btn-wrapper">
            <a href="#" class="btn--submit">Book Appointment</a>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- footer -->
  <footer class="footer">
    <div class="footer__top">
      <div class="container clearfix">
        <div class="get-in-touch">
          <h2 class="footer__top-title">get in touch</h2>
          <p class="footer__top-desc">the quick fox jumps over the
            lazy dog
          </p>
          <!-- footer icons -->
          <div class="footer__icons clearfix">
            <!-- facebook icon -->
            <div class="footer__icon">
              <a href="#">
                <img src="../images-and-icons/ant-design_facebook-filled.png" alt="facebook">

              </a>
            </div>

            <!-- instagram icon -->
            <div class="footer__icon">
              <a href="#">

                <img src="../images-and-icons/instagram.png" alt="instagram">
              </a>
            </div>

            <!-- twitter icon -->
            <div class="footer__icon">
              <a href="#">
                <img src="../images-and-icons/twitter.png" alt="twitter">

              </a>
            </div>

            <!-- youtube icon -->
            <div class="footer__icon">
              <a href="#">
                <img src="../images-and-icons/carbon_logo-youtube.png" alt="youtube">

              </a>
            </div>
          </div>
        </div>

        <!-- footer top-right : shortcut section -->
        <div class="footer__shortcuts clearfix">
          <div class="shortcut-wrapper clearfix">
            <!-- company info -->
            <div class="footer__shortcut">
              <h2 class="shortcut__title">company info</h2>
              <ul class="shortcut__list">
                <li class="shortcut__item"><a href="#">about us</a></li>
                <li class="shortcut__item"><a href="#">career</a></li>
                <li class="shortcut__item"><a href="#">we are hiring</a></li>
                <li class="shortcut__item"><a href="#">blog</a></li>
              </ul>
            </div>

            <!-- features -->
            <div class="footer__shortcut">
              <h2 class="shortcut__title">features</h2>
              <ul class="shortcut__list">
                <li class="shortcut__item"><a href="#">business marketting</a></li>
                <li class="shortcut__item"><a href="#">user analytic</a></li>
                <li class="shortcut__item"><a href="#">live chat</a></li>
                <li class="shortcut__item"><a href="#">unlimited support</a></li>
              </ul>
            </div>

            <!-- resources -->
            <div class="footer__shortcut">
              <h2 class="shortcut__title">resources</h2>
              <ul class="shortcut__list">
                <li class="shortcut__item"><a href="#">IOS &amp; android</a></li>
                <li class="shortcut__item"><a href="#">watch &amp; demo </a></li>
                <li class="shortcut__item"><a href="#">customers</a></li>
                <li class="shortcut__item"><a href="#">API</a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="container">
        <div class="bottom__text">Made With Love By Figmaland All Right Reserved </div>
      </div>
    </div>
  </footer>


  <script src="..//js/script.js"></script>
</body>

</html>