<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../styles/style.css" />
    <title>Design - Final Assgnment</title>
  </head>
  <body>
    <!-- header section -->
    <header class="header">
      <!-- header top section contains navigation bar and banner section -->
      <div class="header__top">
        <!-- container that wraps navigation bar -->
        <div class="container">
          <a href="./index.html" class="header__logo">Nasscorp</a>

          <nav class="nav">
            <ul>
              <li><a href="./index.html">Home</a></li>
              <li><a href="#">Product</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">Contact</a></li>
            </ul>

            <div class="header__icons">
              <div class="search-wrapper">
                <a href="#" class="search__link">
                  <img
                    src="../images-and-icons/icn search .icn-xs.svg"
                    alt="btn__search"
                    class="btn__search"
                  />
                </a>
              </div>
              <div class="cart-wrapper">
                <a href="#" class="cart__link">
                  <img
                    src="../images-and-icons/icn shopping-cart .icn-xs.png"
                    alt="btn__cart"
                    class="btn__cart"
                  />
                </a>
              </div>
            </div>
          </nav>
        </div>

        <!-- banner section -->
        <div class="container">
          <div class="banner__main">
            <div class="banner__title">
              <h1>Drive More Customers Through Digital</h1>
            </div>
            <div class="banner__text">
              <p>
                We know how large objects will act, but things on a small scale
                just do not act that way.
              </p>
            </div>

            <div class="banner__btns">
              <a href="#" class="btn btn--primary">Get Quote Now</a>
              <a href="" class="btn btn--secondary">Learn More</a>
            </div>
          </div>
        </div>
      </div>

      <!-- header bottom section -->
      <div class="header__bottom">
        <div class="container">
          <div class="header__cards">
            <div class="card">
              <div class="card__main">
                <div class="wrapper-icon">
                  <img
                    src="../images-and-icons/icn-happy-customer.svg"
                    alt="happy customers"
                    class="card__img"
                  />
                </div>
                <div class="card__text">
                  <span class="card__count">1.5K</span>
                  <span class="card__title">happy coustomers</span>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card__main">
                <div class="wrapper-icon">
                  <img
                    src="../images-and-icons/icn-case-done.svg"
                    alt="cases done"
                    class="card__img"
                  />
                </div>
                <div class="card__text">
                  <span class="card__count">3K</span>
                  <span class="card__title">cases done</span>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card__main">
                <div class="wrapper-icon">
                  <img
                    src="../images-and-icons/icn-award-winning.svg"
                    alt="award winning"
                    class="card__img"
                  />
                </div>
                <div class="card__text">
                  <span class="card__count">45</span>
                  <span class="card__title">award winning</span>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card__main">
                <div class="wrapper-icon">
                  <img
                    src="../images-and-icons/icn-countries-worldwid.svg"
                    alt="countries worldwide"
                    class="card__img"
                  />
                </div>
                <div class="card__text">
                  <span class="card__count">12</span>
                  <span class="card__title">countries worldwide</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
